<%= form_for @post do |f| %>
  <%= f.label "Make a new post" %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.label :tag_id %>
  <%= f.text_field :tag_id %>
  <button type="submit" class="btn btn-xs btn-success">Submit</button>
<% end %>
