
<h1 class="bold">Latest Posts:</h1>
<br>

<div class='col-md-8'>

<% @posts.each do |post| %>
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
      <p><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    </div>
    <div class="panel-body">
       <%= link_to ('<span class="glyphicon glyphicon-trash"></span>').html_safe, post_path(post),
                    :data => {:confirm => "You sure?",
                    :method => 'delete'} %>
    </div>
  </div>
</div>
<% end %>
</div>

<div class="col-md-4">
  <p>
    <h3 class='tagShow'>search for posts by tag</h3>
    <ul id="tagList">
      <% @tags.each do |tag| %>
        <li><%= link_to tag.name, tag %></li>
        <% end %>
      </ul>
    <br>
  </p>
</div>
