<h1><%= @post.title %></h1>
<br>

<div class='col-md-8'>
  <img src="<%= @post.image %>" width="500px" alt="" />
</div>

<div class='col-md-4'>
  <h2>Tags:</h2>
  <% @post.tags.each do |tag| %>
  <ul>
  <li><%= tag.name %> <%= link_to 'Edit', edit_post_tag_path(@post, tag) %> <%= link_to 'Delete', post_tag_path(@post, tag), data: {confirm: "Are you sure?", method: "delete"}%></li>
  </ul>
  <% end %>
  <br>
  <%= link_to 'New Tag', new_post_tag_path(@post) %>
</div>
<br>
<div class='col-md-12'>
  <%= link_to 'Edit', edit_post_path(@post) %>
    <br>
  <%= link_to 'Delete', post_path(@post), data: {confirm: "Are You Sure?", method: "delete"}%>
    <br>
    <br>
  <h4><%= @post.content %></h4>
</div>
